<div fxLayoutAlign="center center" fxLayout="column" style="height: 100vh;">
<h1>Login</h1>
<form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" id="username" formControlName="username" required>
    <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors?.['required']">Username is required</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" formControlName="password" required>
    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['required']">Password is required</div>
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
    Login
  </button>
</form>
  <button mat-raised-button color="primary" (click)="navigateToRegistration()">
    Registration
  </button>

</div>
